.products-section {
    width: 100%;
    padding: 30px 20px;
    
}

.section-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    font-family: Arial;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.product-card {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #eee;
    cursor: pointer;
    transition: 0.2s ease;
}

.product-card:hover {
    transform: scale(1.04);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.product-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 8px;
}

.product-brand {
    font-size: 13px;
    color: #777;
}

.product-price {
    font-size: 15px;
    font-weight: bold;
    color: #ff5200;
    margin-top: 5px;
}
