*{
    margin:0px;
    padding:0px;
    color:black;
}

a{
    text-decoration: none;
}

.navbar{
    height:60px;
    width:100%;
    background-color:#ffffff;
    align-content: center;
    position:fixed;
    z-index:2;
    /* border: top 2px; */
    border-bottom:1px solid rgba(0, 0, 0, 0.258);
}

.navbar_panel{
    display:flex;
    justify-content: space-around;
    /* border-bottom:1px solid rgba(0, 0, 0, 0.258); */
}

.navbar_buttons{
    text-decoration:none;
    color:black;
    position:relative;
    top:5px;
}

.navbar_buttons:hover{
    color:rgb(255, 82, 0);
}

#search{
    width:500px;
    height:30px;
    border:1px solid rgba(0, 0, 0, 0.258);
    border-radius:30px;
    padding-left:20px;
}

.navbar_panel_logos{
    display:flex;
    align-items:center;
    justify-content: center;;
}


#my_profile{
    position:relative;
    right:10px;
}



#order{
    position:relative;
    bottom:5px;
    left:5px;
}

#order_logo{
    position:relative;
    top:5px;
}

#cart_logo{
    position:relative;
    right:2px;
    top:5px;
}


#logo{
    font-size:24px;
    color:rgb(255, 82, 0);
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

/* Main Layout */
.product-page {
    display: flex;
    gap: 40px;
    padding: 50px;
    font-family: 'Segoe UI', sans-serif;
    height:100%;
    width:80%;
    /* background-color:red; */
    margin-left:100px;
}

/* LEFT SIDE */
.product-left {
    display: flex;
    gap: 20px;
}

/* Small thumbnails */
.thumbnail-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.thumbnail-list img {
    width: 70px;
    height: 80px;
    border: 2px solid #eee;
    border-radius: 8px;
    cursor: pointer;
}

.thumbnail-list img.active {
    border-color: #ff5200;
}

/* Main Big Image */
.main-image img {
    width: 380px;
    height: 450px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

/* RIGHT SIDE */
.product-right {
    flex: 1;
}

.product-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
}

.brand span {
    color: #ff5200;
}

.rating-box {
    background: #e7f8e7;
    padding: 6px 12px;
    width: fit-content;
    border-radius: 5px;
    margin: 10px 0;
}

.price-box {
    margin: 12px 0;
}

.price {
    font-size: 28px;
    font-weight: bold;
}

.cut-price {
    margin-left: 12px;
    text-decoration: line-through;
    color: gray;
}

.discount {
    margin-left: 12px;
    color: green;
    font-weight: 600;
}

/* Colors */
.color-box img {
    width: 60px;
    height: 70px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.color-box img.active {
    border-color: #ff5200;
}

/* Size Box */
.size-box button {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.size-box button:hover {
    background: #ff5200;
    color: white;
}

/* Buttons */
.btn-group {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.btn-cart {
    padding: 16px 32px;
    background: #ff9f00;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-buy {
    padding: 16px 32px;
    background: #fb641b;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}


.product_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 90%;
    margin: 40px auto;
}

.product_card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    transition: 0.3s;
}

.product_card:hover {
    transform: scale(1.03);
}

.product_card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.product_info {
    padding: 10px;
}

.product_info h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.product_info p {
    font-size: 14px;
    font-weight: bold;
    color: #ff5200;
}

.footer{
    background-color:#f5f5f5;
    height:500px;
    width:100%;
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    position:relative;
    top:150px;
}


#footer_logo{
    color:#ff5200;
    font-size:34px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    text-decoration:none;
    position:relative;
    top:50px;
    left:120px;
}

.footer_links{
    /* background-color:green;  */
    height:300px;
    width:90%;
    position:relative;
    top:100px;
    left:100px;
    display:flex;
    justify-content:space-around;
    border-bottom:1px solid rgba(2, 6, 12, 0.142)
}

.footer_links_sections ul,li{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 40px;
    list-style:none;
    color: rgba(2, 6, 12, 0.6);
    text-transform: capitalize;
}

.footer_links_sections ul,li:hover{
    color:#ff5200;
}

.footer_links_sections_four ul,li{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 40px;
    list-style:none;
    color: rgba(2, 6, 12, 0.6);
    text-transform: capitalize;
}

.social_media_logos{
    padding-right:5px;
}


.footer_links_headings{
    font-size:20px;
    font-weight:600;
    color:black;
    pointer-events: none;
    
}

.company_links{
    font-size:16px;

}

.copyright_section{
    height:50px;
    width:100%;
    display:flex;
    /* background-color:yellow; */
    position:relative;
    top:100px;
    align-items:center;
    justify-content: center;
}

#copyright{
    color:rgba(2, 6, 12, 0.6);
    font-size:14px;
    padding-top:10px;
}