*{
    margin:0px;
    padding:0px;
    color:black;
}

a{
    text-decoration: none;
}

.navbar{
    height:60px;
    width:100%;
    background-color:#ffffff;
    align-content: center;
    position:fixed;
    z-index:2;
    /* border: top 2px; */
    /* border-bottom:1px solid rgba(0, 0, 0, 0.258); */
}

.navbar_panel{
    display:flex;
    justify-content: space-around;
    /* border-bottom:1px solid rgba(0, 0, 0, 0.258); */
}

.navbar_buttons{
    text-decoration:none;
    color:black;
    position:relative;
    top:5px;
}

.navbar_buttons:hover{
    color:rgb(255, 82, 0);
}

#search{
    width:500px;
    height:30px;
    border:1px solid rgba(0, 0, 0, 0.258);
    border-radius:30px;
    padding-left:20px;
}

.navbar_panel_logos{
    display:flex;
    align-items:center;
    justify-content: center;;
}


#my_profile{
    position:relative;
    right:10px;
}



#order{
    position:relative;
    bottom:5px;
    left:5px;
}

#order_logo{
    position:relative;
    top:5px;
}

#cart_logo{
    position:relative;
    right:2px;
    top:5px;
}


#logo{
    font-size:24px;
    color:rgb(255, 82, 0);
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.main_body{
    height:100vh;
    width:100%;
    /* background-color:#90E0EF; */
}

.hero_body{
    background-color:whitesmoke;
    height:100%;
    width:100%;
    position:relative;
    top:70px;
}


.panel1{
    height:126px;
    width:100%;
    background-color:#ffffff;
    position:relative;
    top:10px;
    display:flex;
    align-items:center;
    padding-left:16px;
    justify-content: space-evenly;
    
}

.panel2{
    height:200px;
    width:100%;
    background-color:#ffffff;
    position:relative;
    top:20px;
    display:flex;
    align-items:center;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    
}

.categories{
    display:flex;
    gap:100px;
}

.panel3{
    position:relative;
    top: 30px;
}



.panel3a{
    height:700px;
    width:100%;
    /* border:1px solid rgba(0,0,0,0.5); */
    background-color:#ffffff;
    /* border-radius:10px; */
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap: 20px;
    padding-top:20px;
    
}

h2{
    width:100%;
    text-align: center;
}

.item1{
    height:300px;
    /* max-height:300px; */
    /* overflow:hidden; */
    width:200px;
    border:1px solid black;
    /* padding-left: 20px;
    padding-top:20px; */
    display:flex;
    flex-direction:column;
    border-radius:10px;
}

.item1:hover{
    transform:scale(1.05);
}

#boxes:hover{
    transform: scale(1.05);
}
.menswear{
    display:block;
}

.img{
    height:80%;
    width:80%;
    /* background-color:red; */
    align-self:center;
    margin-top:20px;
}


#brands{
    color:black;
    text-decoration:none;
    font-size:20px;
    margin-top:2px;
    /* display:block; */
    margin-left:4px;
    font-weight: lighter;
    padding-top:20px;
    position:relative;
    top:10px;
}


#a1{
    color:rgba(2, 6, 12, 0.6);
    text-decoration:none;
    font-size:18px;
    margin-top:2px;
    margin-left:4px;
    font-weight: lighter;
    padding-top:10px;
    display:block;
    

}


.item2{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}


.item3{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}


.item4{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}


.item5{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item6{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item7{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item8{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item9{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item10{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item11{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item12{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}


.panel4{
    position:relative;
    top: 40px;
}



.panel4a{
    height:700px;
    width:100%;
    /* border:1px solid rgba(0,0,0,0.5); */
    background-color:#ffffff;
    /* border-radius:10px; */
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap: 20px;
    padding-top:20px;
    
}

.item13{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item14{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item15{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item16{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item17{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item18{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item19{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item20{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item21{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item22{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item23{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item24{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.panel5{
    position:relative;
    top: 50px;
}



.panel5a{
    height:700px;
    width:100%;
    /* border:1px solid rgba(0,0,0,0.5); */
    background-color:#ffffff;
    /* border-radius:10px; */
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap: 20px;
    padding-top:20px;
    
}

.item25{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item26{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item27{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item28{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item29{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item30{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item31{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item32{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item33{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item34{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item35{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.item36{
    height:300px;
    width:200px;
    border:1px solid black;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}


.footer{
    background-color:#f5f5f5;
    height:500px;
    width:100%;
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    position:relative;
    top:150px;
}


#footer_logo{
    color:#ff5200;
    font-size:34px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    text-decoration:none;
    position:relative;
    top:50px;
    left:120px;
}

.footer_links{
    /* background-color:green;  */
    height:300px;
    width:90%;
    position:relative;
    top:100px;
    left:100px;
    display:flex;
    justify-content:space-around;
    border-bottom:1px solid rgba(2, 6, 12, 0.142)
}

.footer_links_sections ul,li{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 40px;
    list-style:none;
    color: rgba(2, 6, 12, 0.6);
    text-transform: capitalize;
}

.footer_links_sections ul,li:hover{
    color:#ff5200;
}

.footer_links_sections_four ul,li{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 40px;
    list-style:none;
    color: rgba(2, 6, 12, 0.6);
    text-transform: capitalize;
}

.social_media_logos{
    padding-right:5px;
}


.footer_links_headings{
    font-size:20px;
    font-weight:600;
    color:black;
    pointer-events: none;
    
}

.company_links{
    font-size:16px;

}

.copyright_section{
    height:50px;
    width:100%;
    display:flex;
    /* background-color:yellow; */
    position:relative;
    top:100px;
    align-items:center;
    justify-content: center;
}

#copyright{
    color:rgba(2, 6, 12, 0.6);
    font-size:14px;
    padding-top:10px;
}