body {
    font-family: 'Poppins', sans-serif;
    background: #fdfdfd;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    color: black;
    letter-spacing: 1px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.25s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
}

.price {
    font-size: 17px;
    color: #ff5722;
    font-weight: 700;
}

.mrp {
    font-size: 13px;
    color: #777;
    text-decoration: line-through;
}

.discount {
    font-size: 13px;
    color: green;
    font-weight: 600;
}

.brand {
    font-size: 13px;
    color: #444;
}
